<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="pokemonSearch">
        <h3>Search for Pokémon's by name</h3>
        <input name="title" ng-model="performSearch(searchTerm)" #searchTerm>
        <button (click)="performSearch(searchTerm)">Search</button>
      </div>

      <div class="pokemonDetails">
        <div>
          <h1>{{pokemon.name}}</h1>
          <img src="{{pokemon.sprites.front_default}}">
          <ul>
            <li *ngFor="let s of pokemon.stats">{{s.stat.name}} : {{s.base_stat}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="pokemonSearch">
        <h3>Search for Pokémon's by color</h3>
        <input name="colors" #searchColor>
        <button (click)="performSearchColor(searchColor)">Search</button>
      </div>

      <div class="pokemonDetails">
        <ul>
          <li *ngFor="let c of pokemonColor.pokemon_species">{{c.name}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>


